*{
  font-size: 60px;
}
.products {
  margin: 20px; 
  padding: 0; 
  list-style-type: none; 
  display: grid; 
  gap:20px; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.products__single{
  height: 350px; 
  width: 300px;
  padding:250px; 
  background-color: rgb(220, 220, 220);
  text-align: center; 
  border-radius: 5px;
  cursor: pointer; 
  font-size: 40px;
}

.products__single > img{
  width: 100%; 
  height: 100%; 
  margin-bottom: 40px;
}

.pagination{
  padding: 10px; 
  margin: 15px 0; 
  display: flex; 
  justify-content: center;
}

.pagination > span {
  padding: 15px 20px; 
  border: 1px solid gray; 
  cursor: pointer;
}

.pagination__selected{
  margin: 0 60px;
  color: red;
}

.pagination__disabled{
  opacity: 0;
}