body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.stepper {
    position: relative; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
}

.step-number{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background-color: #ccc;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 5px; 
    z-index: 2;
}

.step-name{
    font-size: 14px;
}

.active .step-number{
    background-color: #007bff;
    color: white;
}

.complete .step-number{
    background-color: #28a745;
    color: white;
}

.progress-bar{
    position: absolute;
    top: 10%;
    width: 100%; 
    left: 0; 
    height: 4px; 
    background-color: #ccc;
}

.progress{
    height: 100%; 
    background-color: #28a745;
    transition: 0.2s ease;
}
