[data-theme="light"]{
  --bg-color: #ffffff; 
  --text-color: #333333; 
  --heading-color: #444444;
}

[data-theme="dark"]{
  --bg-color: #333333; 
  --text-color: #ffffff; 
  --heading-color: #dddddd;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0 30px;
}

h1{
  color: var(--heading-color);
}

.page{
  display: flex; 
  flex-direction: column; 
  height: 92vh;
}

.navbar{
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div{
  display: flex;
  gap: 20px;
}

.navbar div a{
  text-decoration: none;
  color: inherit;
}

.mode-switch label{
  width: 40px; 
  height: 20px; 
  position: relative; 
}

.mode-switch .slider{
  position: absolute; 
  cursor: pointer;
  top:0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s; 
  border-radius: 20px;
}

.mode-switch input:checked + .slider{
  background-color: #2196F3;
}

.mode-switch .slider:before{
  position: absolute; 
  content: "";
  height: 16px; 
  width: 16px; 
  left: 2px; 
  bottom: 2px; 
  background-color: white; 
  transition: 0.4s; 
  border-radius: 50%;
}

.mode-switch input:checked + .slider:before{
  transform: translateX(20px);
}